#layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.el-header, .el-footer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 60px;
    width: 100%;
  }

  .el-header {
      border-bottom: 1px #f5f5f5 solid;
  }
  
  .el-aside {
    background-color: #fff;
    color: #333;
    text-align: left;
    line-height: 200px;
    height: 100%;
  }
  
  .el-main {
    background-color: #f5f5f5;
    color: #333;
  }
  
  #layout .el-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }