#layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
}

.el-header, .el-footer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #333;
    text-align: center;
    line-height: 60px;
    width: 100%;
  }

  .el-header {
      text-align: left;
      border-bottom: 1px #f5f5f5 solid;
      padding: 0;
      img {
          float: left;
          width: 40px;
          height: 40px;
          margin: 10px;
          margin-right: 20px;
      }
      .el-menu-item {
          font-size: 16px;
          padding: 0 60px;
        }
        .el-submenu__title {
            padding: 0 60px;
            font-size: 16px;
        }
  }
  
  .el-aside {
    background-color: #fff;
    color: #333;
    text-align: left;
    font-size: 12px;
    line-height: 200px;
    height: 100%;
  }
  
  .el-main {
    background-color: #fff;
    color: #333;
    .el-breadcrumb {
        margin-bottom: 20px;
    }
  }
  
  #layout .el-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }