#article-list {
    padding: 20px;
    background: #fff;
    .pagination {
        margin-top: 10px;
        width: 100%;
        overflow: hidden;
    }
    .el-table th{
        text-align: center;
    }
}